################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Library
/obj/Debug
/Temp
/Assembly-CSharp.csproj
*.sln
*.meta
